.sidebar {
  display: flex;
  max-width: 100%;
  gap: 16px;
  margin-right: 116px;
  align-items: center;
  /* padding: 47px auto auto 40px; */
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  align-self: center;
}
.sidebar__user-name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  white-space: nowrap;
}
