.header {
  color: #000000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 28px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__logo-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.header__logo {
  width: 89px;
  height: 40px;
  align-self: center;
}
.header__date {
  align-self: center;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 24px;
}
.header__nav-container {
  display: flex;
  align-items: center;
  height: 25px;
  list-style-type: none;
  gap: 20px;
  padding: 0;
}
.header__nav-button {
  border: none;
  background: none;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 15px;
  cursor: pointer;
}
.header__nav-button:hover {
  opacity: 0.5;
}
.header__nav-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
.header__nav-link:hover {
  opacity: 0.5;
}
.header__nav-user {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.header__navigation {
  display: none;
}
.header__navigation:hover {
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-out;
}
.header__navigation-btn {
  width: 100%;
  background: transparent;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.header__navigation-btn-image {
  width: 100%;
}
.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 470px) {
  .header__container {
    flex-direction: row;
    align-self: start;
  }

  .header__logo-container {
    flex-direction: column;
    align-self: start;
    gap: 34px;
  }
  .header__logo {
    align-self: start;
  }
  .header__nav-container {
    display: none;
  }
  .header__navigation {
    display: flex;
    flex-direction: column;
  }
}
