.card__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.card__item {
  position: relative;
  width: 328px;
  height: 328px;
  cursor: pointer;
}
.card__item-info {
  position: absolute;
  top: 0;
  left: 38%;
  display: flex;
  align-items: center;
}
.card__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 2px 12px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 4px;
}
.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}
.card__like {
  cursor: pointer;
  width: 18px;
  height: 15px;
  background: none;
}
.card__like:hover {
  opacity: 60%;
  cursor: pointer;
}
.cards__like_active {
  display: block;
  border: none;
}
.cards__like_inactive {
  display: none;
}
